body {
  background-color: #111;
  color: #eee;
  font-family: Consolas, monospace;
  padding: 20px;
  text-align: center;
}

form {
  display: inline-block;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

label {
  display: block;
  margin: 8px 0;
}

input, select {
  width: 100%;
  padding: 4px;
  background: #222;
  border: 1px solid #333;
  color: #eee;
}

button {
  width: 100%;
  padding: 8px;
  background: #444;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #666;
}

pre {
  background: #000;
  color: #0f0;
  text-align: left;
  padding: 15px;
  border-radius: 8px;
  width: 700px;
  margin: 20px auto;
  overflow-x: auto;
  white-space: pre-wrap;
}

footer#disclaimer {
  margin-top: 40px;
  padding: 12px 20px;
  background: #1a1a1a;
  color: #aaa;
  font-size: 12px;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #333;
  border-radius: 0 0 8px 8px;
  text-align: center;
  line-height: 1.4;
}
